.row{
    padding: 20px;
    background: rgb(215, 178, 249);
    color: #150128;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #000000;
    box-shadow: ejeX ejeY difumasion color;
}
h1{
    margin-bottom: 5px;
}


