<div class="row">
    <h1>PROYECTOS</h1>
    <div class="col-lg-2">
      <button type="button" class="btn btn-light add-button" routerLink="/nuevapro" *ngIf="isLogged"><i class="bi bi-plus-lg"></i></button>
    </div>
    <div class="col lg 1"></div>
    <div class="col-lg-11 col-md-11 col-sm-11">
      <table class="table">
        <tbody>
          <tr *ngFor="let Proyectos of pro">
            <td>
              <h2>{{ Proyectos.nombrePro }}</h2>
            </td>
            <td>
              <h3>{{ Proyectos.descripcionPro }}</h3>
            </td>
            <td>
              <h3>{{ Proyectos.fechaPro }}</h3>
            </td>
  
            <td *ngIf="isLogged">
              <button
                class="btn btn-light"
                routerLink="/editpro/{{ Proyectos.id }}" title="Editar">
                <i class="bi bi-pencil"></i>
              </button>
            </td>
            <td *ngIf="isLogged">
              <button
                class="btn btn-danger"
                (click)="delete(Proyectos.id)"
                title="Eliminar"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 titles">
                <button type="button" class="btn btn-light">
                  <a href="{{Proyectos.linkPro}}" target="_blank"
                    >Ir al proyecto</a>
                </button>
  
              </div>
            </td>
           
          </tr>
        </tbody>
      </table>
    </div>
   