.row{
   background: rgb(19, 3, 34); 
}

footer{
    background:linear-gradient(to top, rgb(31, 2, 53), rgb(9, 0, 17));
    color:rgb(186, 117, 250); 
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}