
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');
.container{
    max-width: -webkit-fill-available;
   
}
.row {
    background: black;
    color: rgb(17, 1, 241);;
    border-color: rgb(12, 0, 23);
    box-shadow: rgb(12, 0, 23);
    padding: 20px;
    font-family: 'Poppins';
    
}


button{
    font-size: 15px;
    margin-top: 10px;
    width: -webkit-fill-available;
    color: rgb(17, 1, 241);
    background-color: #000000;
}
