
<div class="row">
    <h1>Skills</h1>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="70"
        [title]="'JAVA'"
        [backgroundPadding]="7"
        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#260446'"
        [innerStrokeColor]="'#808080'"
        [showSubtitle]="false"
        titleColor="rgb(21, 1, 40)"
        subtitleColor="#A9A9A9"
        titleFontSize=20
        unitsFontSize=10
        titleFontWeight=normal
        unitsFontWeight=normal
        subtitleFontWeight=normal
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
      
    </div>
    <div class="  text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="70"
        [title]="'CSS'"
        [backgroundPadding]="7"
        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#260446'"
        [innerStrokeColor]="'#808080'"
        [showSubtitle]="false"
        titleColor="rgb(21, 1, 40)"
        subtitleColor="#A9A9A9"
        titleFontSize=20
        unitsFontSize=10
        titleFontWeight=normal
        unitsFontWeight=normal
        subtitleFontWeight=normal
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
      
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [title]="'GitHub'"
        [backgroundPadding]="7"
        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#260446'"
        [innerStrokeColor]="'#808080'"
        [showSubtitle]="false"
        titleColor="rgb(21, 1, 40)"
        subtitleColor="#A9A9A9"
        titleFontSize=20
        unitsFontSize=10
        titleFontWeight=normal
        unitsFontWeight=normal
        subtitleFontWeight=normal
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
      
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="70"
        [title]="'English'"
        [backgroundPadding]="7"
        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#260446'"
        [innerStrokeColor]="'#808080'"
        [showSubtitle]="false"
        titleColor="rgb(21, 1, 40)"
        subtitleColor="#A9A9A9"
        titleFontSize=20
        unitsFontSize=10
        titleFontWeight=normal
        unitsFontWeight=normal
        subtitleFontWeight=normal
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
      
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="70"
        [title]="'Angular'"
        [backgroundPadding]="7"
        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#260446'"
        [innerStrokeColor]="'#808080'"
        [showSubtitle]="false"
        titleColor="rgb(21, 1, 40)"
        subtitleColor="#A9A9A9"
        titleFontSize=20
        unitsFontSize=10
        titleFontWeight=normal
        unitsFontWeight=normal
        subtitleFontWeight=normal
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
      
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="70"
        [title]="'HTML'"
        [backgroundPadding]="7"
        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#260446'"
        [innerStrokeColor]="'#808080'"
        [showSubtitle]="false"
        titleColor="rgb(21, 1, 40)"
        subtitleColor="#A9A9A9"
        titleFontSize=20
        unitsFontSize=10
        titleFontWeight=normal
        unitsFontWeight=normal
        subtitleFontWeight=normal
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
      
    </div>
 
</div>