@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');

.container{

    max-width: -webkit-fill-available;
    margin-right: 0px;
}

.row{
   
  padding: 20px;
   margin-right: 0px;
   font-family: 'Poppins';
   margin-top: 10px;
}

div{
    background :black;
    color:antiquewhite; 
    text-align:center;
    max-width: -webkit-fill-available;
    font-family: 'Poppins';
   
}

h1,h3,h2{
    display: inline;
    font-family: 'Poppins';
}
/*Estilo de la foto de perfil*/
#fotoperfil{
    width:min-content;
    border-radius: 50%;
    border-top: 5px;
    position:-webkit-sticky;
    box-shadow: 3px,3px,3px rgb(17, 1, 241);
}

@media (max-width:575px){
    #fotoperfil{
        width:min-content;
        border-radius: 50%;
        border-top: 5px;
        position:-webkit-sticky;
        box-shadow: 3px,3px,3px rgb(17, 1, 241);

    }
}

.descripcion{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}
/*etiqueta nombre*/
h1{
    font-size: 20px;
}
#nombre{
    font-weight: bold;
    margin-top: 40px;
    font-family: 'Poppins';
    
}



button{
    font-size: 15px;
    color: rgb(17, 1, 241);
    background-color: #000000;
    margin-left: 5px;
}
/*profesion */
