<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Logos/Logos/arg-programa-logo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/victoria-novello-844396256/" target="_blank"><img src="../../../assets/Logos/Logos/logo-ink.png" id="linkedin"></a>
            <a href="https://www.instagram.com/vico_novello/" target="_blank"><img src="../../../assets/Logos/Logos/insta-logo.png" id="instagram"></a>
            <a href="https://github.com/Vnovello" target="_blank"><img src="../../../assets/Logos/Logos/github-logo.png" id="github"></a>
            <button type="button" class="btn btn-outline-Secondary" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-Secondary" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>

   
