<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Logos/Logos/arg-programa-logo.png" id="logoAp">
        </div>
        <div class="redes">
            <div class="social">
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/Logos/Logos/logo-ink.png" id="git"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/Logos/Logos/github-logo.png" id="In"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/Logos//Logos/insta-logo.png" id="insta"></a>
                <button type="button" class="btn btn-outline-light"> INGRESO </button>
            </div>
            
        </div>
    </div>

</div>
   
